# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author:
Krechkivskii Aleks

**Objectives:**

- List popular languages for Data Science
- List commonly used Data Science libraries
- Create tables and lists in Markdown
- Understand Data Science tools and ecosystem

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [25]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335